.nemo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(192, 135, 49);
}
body{
    background-color:rgb(56, 14, 147);
}
.btn{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border: none;
}
label{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}